Homestead.json
Homestead.yaml
.env
/.idea
/node_modules
/public/storage
/public/images/tmp
/public/test
/vendor
/stackOverflow
/storage/mylocal
/routes/mylocal
/resources/views/example
/app/Http/Controllers/LocalApp
/app/Traits/Test
**/.trash/
**/.temp/
chlr.sh
.gitignore_reset